@charset "utf-8";


form, fieldset{margin:0; padding:0; border:none;}
legend{display:none;}

/* ----------------------------------------------Search Form------------------------------------- */

#topbar #search{display:block; float:right;}
#topbar input{display:block; float:left; width:229px; margin:2px 5px 0 0; padding:5px; color:white; background-color:#353535; border:1px solid #272727; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px;}
#topbar input#go{width:auto; height:auto; margin:0; padding:3px;}


